body {
  margin: 0px;
  background-color: #fff;
  color: #000;
}

.head_option a {
  display: inline-block;
  padding: 0 10px;
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.head_option a:hover {
  color: #7F00FF;
}

.head_option a:first-child {
  border-right: 1px solid #000;
}

.heading {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  min-height: 70px;
}

.heading span {
  font-size: 18px;
  font-weight: bold;
}

.main_container {
  padding: 15px;
  margin: 15px;
  margin-top: 0px;
  padding-top: 0px;
}

.destination_container {
  text-align: center !important;
}

.loader:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 70px;
  width: 70px;
  margin-top: -30px;
  margin-left: -30px;
  border-radius: 50%;
  border-top: 4px solid #59a3f0;
  border-right: 2px solid transparent;
  animation: loader 0.7s linear infinite;
}

@keyframes loader {
  to {
    transform: rotate(360deg);
  }
}

.planet_holder {
  min-height: 250px;
  max-height: 280px;
  border-radius: 10px;
  border-top-right-radius: 40px;
  text-align: center;
  cursor: pointer;
  color: #000;
  box-shadow: 5px 5px 8px #8c848e;
}

.selection {
  min-height: 340px;
  max-height: 450px;
  border-radius: 10px;
  border-top-right-radius: 40px;
  text-align: center;
  cursor: pointer;
  color: #000;
  box-shadow: 5px 5px 8px #8c848e;
}

.vehical {
  min-height: 200px;
  max-height: 220px;
  padding-top: 10px;
  padding-right: 15px;
  border-radius: 20px;
  /* border-top-right-radius: 40px; */
  text-align: center;
  cursor: pointer;
  color: #000;
  box-shadow: 5px 5px 8px #8c848e;
}

.limit {
  color: #f70000;
  font-size: 18px;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

.big_btn {
  width: 250px;
  padding: 10px;
  border: 1px solid #6c6c6b;
  background-color: #fff;
  color: #000;
  border-radius: 10px;
  border-top-right-radius: 20px;
  font-weight: bold;
  text-decoration: none;
}

.big_btn:hover {
  border: 0px solid #6c6c6b;
  background: linear-gradient(to right, #7F00FF, #E100FF);
  color: #fff;
  text-decoration: none;
}

.label {
  /* width: 20px;
  height: 20px; */
  border-radius: 50%;
  padding: 5px;
}

.dropped_vehical {
  min-height: 140px;
  max-height: 150px;
  padding-top: 5px;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
  box-shadow: 2px 2px 8px #8c848e;
}

.not_dropped {
  display: none;
}

@media only screen and (max-width: 992px) {
  * {
    font-size: 2rem;
  }

  .vehical {
    min-height: 260px;
    max-height: 280px;
    padding-top: 10px;
  }

  .selection {
    min-height: 360px;
    max-height: 380px;
    padding-bottom: 15px;
  }
}
