body {
  margin: 0px;
  background-color: #fff;
  color: #000;
  font-family: "Lucida Console", Monaco, monospace;
}

.no_padding {
  padding: 0px;
}

.min_spacing {
  margin-top: 20px;
  margin-bottom: 20px;
}

.space_color {
  color: #913ba7;
  font-size: 2em;
  font-weight: bold;
  font-family: sans-serif;
}

.description {
  font-family: fantasy;
}

.hero_background {
  background-size: cover;
  min-height: 240px;
  background-repeat: no-repeat;
  padding: 0px;
}

.hero_text {
  color: #fff;
  padding: 20px 15px;
  background-image: linear-gradient(rgba(236, 236, 236, 0.45), rgba(236, 236, 236, 0.45));
  min-height: 240px;
}

.hero_text p {
  padding-left: 30px;
  font-weight: bold;
}

.head_option a {
  display: inline-block;
  padding: 0 10px;
  color: #000;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
}

.list li {
  display: inline-block;
  padding: 0 10px;
  color: #5d1769;
  font-weight: bold;
  font-style: italic;
}

.color {
  color: #ba196b;
}

.metrics {
  font-size: 1em;
  color: #ba196b;
}

.head_option a:hover {
  color: #7F00FF;
}

.head_option a:first-child {
  border-right: 1px solid #000;
}


.loader:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 70px;
  width: 70px;
  margin-top: -30px;
  margin-left: -30px;
  border-radius: 50%;
  border-top: 4px solid #59a3f0;
  border-right: 2px solid transparent;
  animation: loader 0.7s linear infinite;
}

@keyframes loader {
  to {
    transform: rotate(360deg);
  }
}

.planet_holder {
  min-height: 250px;
  max-height: 280px;
  border-radius: 10px;
  border-top-right-radius: 40px;
  text-align: center;
  cursor: pointer;
  color: #000;
  box-shadow: 5px 5px 8px #8c848e;
}

.selection {
  min-height: 360px;
  max-height: 450px;
  border-radius: 10px;
  border-top-right-radius: 40px;
  text-align: center;
  cursor: pointer;
  color: #000;
  box-shadow: 5px 5px 8px #8c848e;
}

.vehicle {
  min-height: 220px;
  max-height: 240px;
  padding-top: 10px;
  padding-bottom: 20px;
  border-radius: 20px;
  background-color: #fff;
  text-align: center;
  cursor: pointer;
  color: #000;
  box-shadow: 5px 5px 8px #8c848e;
}

.limit {
  color: #f70000;
  font-size: 18px;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

.big_btn {
  width: 350px;
  padding: 15px 40px;
  border: 1px solid #6c6c6b;
  background-color: #fff;
  color: #000;
  border-radius: 10px;
  border-top-right-radius: 20px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

.big_btn:hover {
  border: 0px solid #6c6c6b;
  background: linear-gradient(to right, #7F00FF, #E100FF);
  color: #fff;
  text-decoration: none;
}

.btn_reset {
  width: 350px;
  padding: 10px 40px;
  border: 1px solid #fff;
  background-color: #fff;
  color: #000;
  border-radius: 10px;
  border-top-right-radius: 20px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

.btn_reset:hover {
  border: 0px solid #6c6c6b;
  background: linear-gradient(to right, #ff00e6, #ff3600);
  color: #fff;
  text-decoration: none;
}

.label {
  border-radius: 5px;
  padding: 5px;
}

.label-danger {
  width: 100%;
}

.dropped_vehicle {
  min-height: 140px;
  max-height: 150px;
  padding-top: 5px;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
  box-shadow: 2px 2px 8px #8c848e;
}

.not_dropped {
  display: none;
}

.mobile_font {
  font-size: 3rem;
}

.mob_only {
  display: none;
}

.result_background {
  background-image: url('../images/result_back.png');
  background-size: 100% 100%;
  min-height: 580px;
  background-repeat: no-repeat;
  margin-top: 0.036%;
  padding: 0px;
}

@media only screen and (max-width: 992px) {
  * {
    font-size: 2rem;
  }

  .hero_background {
    min-height: 400px;
  }

  .hero_text {
    min-height: 400px;
  }

  .min_spacing {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .mobile_font {
    font-size: 4rem;
  }

  .metrics {
    font-size: 0.8em;
    padding: 0px;
  }

  .result_background {
    background-image: url('../images/mob_back_result.jpg');
    background-size: cover;
    min-height: 300px;
    background-repeat: no-repeat;
    padding: 0px;
    margin: 0px;
  }

  .mob_only {
    padding: 0px;
    margin: 0px;
    display: block;
  }

  .vehicle {
    min-height: 280px;
    max-height: 300px;
    padding-top: 10px;
  }

  .selection {
    min-height: 400px;
    max-height: 420px;
    padding-bottom: 15px;
  }
}
