<style media="screen">
  .head_option {
    display: none;
  }
</style>
<div class="container-fluid">
  <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12" style="padding-top:55px;">
    <h1>King Shan Finding Al Falcone</h1>
    <p>
      Our coding challenges are set in the planet of Lengaburu.
      After the recent Falicornian war, King Shan has exiled Queen Al Falcone for 15 years.
      However, if he finds her before the 15 years are up, she has to go into exile for another 15 years!
    </p>
    <p>
      King Shan has received intelligence that Al Falcone is hiding in one of six neighbouring planets. In this problem you need to build a UI through which King Shan can choose the planets to search, and the vehicles to use in Finding Falcone. See
      more details on planets & vehicles.
    </p>
    <p>
      All geektrust problems are meant to be solved offline looking at considerations of OOPS, readability and simplicity. Download challenge to see planets, vehicles & mockups or just view full problem
    </p>
  </div>
  <div class="col-md-12 col-sm-12 col-xs-12 text-center" style="padding:15px;">
    <a href="#!planets" type="button" class="big_btn">Begin Search !</a>
  </div>
</div>
