<div class="container-fluid main_container">
  <div ng-if="!loaded" class="loader"></div>
  <div ng-if="loaded">
    <div class="col-md-12 heading">
      <div class="col-md-8 col-md-offset-2">
        <span>Select Planets you want to Search..</span>
      </div>
      <div class="col-md-2">
        <button type="button" class="btn btn-danger pull-right" ng-if="selected_planets.length>0" ng-click="reset()">Reset</button>
      </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12" style="margin-bottom:50px;">
      <div class="col-md-2 col-sm-6 col-xs-6" ng-repeat="p in planets" style="margin:15px 0px;">
        <div class="container-fluid planet_holder" style="{{!p.selected? 'background-color:#fff;' : 'background: linear-gradient(to bottom, #E100FF, #7F00FF);color:#fff;'}};" ng-click="select($index)">
          <div class="planet_img col-md-12" style="min-height:80px;max-height:150px;display:inline-block;padding-top:20px;margin-bottom:25px;">
            <img src="assets/images/{{p.name}}.png" width="100%;">
          </div>
          <div class="planet_info col-md-12">
            <span style="text-transform:capitalize;"><b>{{p.name}}</b> </span><br>
            <span><b>Distance : </b>{{p.distance}} megamiles</span>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="col-md-12 text-center limit" ng-if="limit_exceed">
        <span>You Cannot Search More than Four Planets at a time !!.</span>
      </div>
      <div class="col-md-12 text-center" ng-if="selected_planets.length == 4">
        <a href="#!vehicals" type="button" class="big_btn">Select Vehicals !</a>
      </div>
    </div>
  </div>
</div>
